<div class="row">
<div class="col-md-6 col-md-offset-1">
<h3>Update Your Order</h3>
</div>
</div>

<%= render 'form' %>
<div class="row">
<div class="col-md-6 col-md-offset-1">
<%= link_to 'Show', @service_request %> |
<%= link_to 'Back', service_requests_path %>
</div>
</div>
