<div class="row">
<div class="col-md-6 col-md-offset-1">
<h3>Book Your Cook</h3>
</div>
</div>
<%= render 'form' %>
<div class="row">
<div class="col-md-6 col-md-offset-1">
<%= link_to 'Back', service_requests_path %>
</div>
</div>