<div id="sidebar"> 
				  
							  <ul>    
							     <li> <h3>Get Your Cook</h3>
							     	<div class="btn-group-vertical">
                                       <div class="btn-group">
                                       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                       Dishes
                                        <span class="caret"></span>
                                        </button>
                                       <ul class="dropdown-menu">
                                       <li><a href="#" >North Indian</a></li> 
			    				     	<li><a href="#" >South Indian</a></li>
							            <li><a href="#" >Chinese</a></li> 
							            <li><a href="#" >Pizza</a></li> 
							             <li> <a href="#">Pasta</a></li>
                                       </ul>
                                       </div>
                                     </div>
							     </li> 
							     
							    <li> <h3>Area we cover in Bangalore</h3>
							         <div class="btn-group-vertical">
                                       <div class="btn-group">
                                       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                       Locality
                                        <span class="caret"></span>
                                        </button>
                                       <ul class="dropdown-menu">
                                       <li><a href="#" >Belandur</a></li> 
			    				     	<li><a href="#" >Sarjahpur</a></li>
							            <li><a href="#" >JP Morgan</a></li> 
							            <li><a href="#" >Marathalli</a></li> 
							            
                                       </ul>
                                       </div>
                                     </div>
							   </li>
							     <li> <h3>Book now or call us</h3> 
							     	<ul> 
							     		<a href="#">+91899348949</a>
							     	   
							     	</ul> 
							     </li> 
							 
							 </ul> 
</div> 
							<!-- end #sidebar -->
							 