<div id="sidebar"> 
							<ul> <li> 
							<div id="search"> 
									<form method="get" action="#"> 
										<div> <input type="text" name="s" id="sear-text" value="" /> 
											<input type="submit" id="search-submit" value="GO" /> 
										</div> 
									</form> 
							</div> 
							<div style="clear: both;"></div> 
							     </li> 
							     <li> <h3>Get Your Cook</h3>
							     	<ul><li>Select your dish now our cook will prepare at your place</li></ul> 
							     </li> 
							     <li> <h3>Dishes</h3> 
							     	<ul> 
							     	<li><a href="#">North Indian</a></li> 
							     	<li><a href="#">South Indian</a></li>
							        <li><a href="#">Chinese</a></li> 
							        <li><a href="#">Pizza</a></li> 
							        <li><a href="#">Pasta</a></li>
							       </ul> 
							     </li> 
							     <li> <h3>Book now or call us</h3> 
							     	<ul> 
							     		<li><a href="#">+91899348949</a></li>
							     	   
							     	</ul> 
							     </li> 
							 </ul> 
</div> 
							<!-- end #sidebar -->
							 